<div class="panel sidebar-menu">
    <div class="panel-heading">
      <h3 class="panel-title">Use Cases</h3>
    </div>

    <div class="panel-body">
 		<ul class="nav nav-pills nav-stacked">
			<li><a href="{{$.Site.BaseURL}}/use-case/changeableproduction">Changeable Production</a></li>
			<li><a href="{{$.Site.BaseURL}}/use-case/connectingitwithproductiondevices">Connecting IT and Production Devices</a></li>
			<li><a href="{{$.Site.BaseURL}}/use-case/newbusinessmodels">Enabler For New Business Models</a></li>
			<li><a href="{{$.Site.BaseURL}}/use-case/bigdataanalytics">Enabler Of Big Data Analytics</a></li>
			<li><a href="{{$.Site.BaseURL}}/use-case/predictivemaintenance">Predictive Maintenance</a></li>			
		</ul>
    </div>
</div>
