{{ if isset .Site.Params "about" }}
{{ if .Site.Params.about.enable }}

<section class="bar background-image-fixed-2 no-mb color-white text-center">
    <div class="dark-mask"></div>
    <div class="container">
        <div class="col-md-12">
			<div class="col-md-7">
				<p style="text-align:left;">
	
				   <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
						<iframe src="https://www.youtube-nocookie.com/embed/kx2F5E5foLU" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" allowfullscreen="" title="YouTube Video"></iframe>
					</div>
				</p>
			   
			 </div>

			<div class="col-md-5">
				<div class="block">
					<p class="lead">
					<br>
					Eclipse BaSyx is the open source implementation of key concepts defined by the Platform Industrie 4.0, such as the Asset Administration Shell.					
					</p>
					<p class="lead">
					The Eclipse BaSyx Platform provides ready-to-use components and extendable software development kits (SDK) for Java, C++ and C#.
					</p>	
				</div>
			</div>
					

		
            <!--{{range where .Site.Pages "Type" "=" "about"}} 
            <div class="heading text-center">
                <h2>{{ .Title }}</h2>
            </div>
            <p class="lead">{{ .Summary }}</p>
            <p class="read-more">
                <a href="{{ .Permalink }}" class="btn btn-template-main">{{ i18n "continueReading" }}</a>
            </p>
			{{ end }}-->
        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.bar -->
{{ end }}
{{ end }}
