{{ if isset .Site.Params "carousel" }}
{{ if .Site.Params.carousel.enable }}
{{ if gt (len .Site.Data.carousel) 0 }}
<script src="/js/carousel_aux.js"></script>

<section class="bar background-image-fixed-2 no-mb color-white text-center">
    <div class="home-carousel">
        <div class="dark-mask"></div>
        <div class="container">
            <div class="homepage owl-carousel">
                {{ range $currentSlide := sort .Site.Data.carousel "weight" }}
                    <div class="col-md-12">
                        <div class="col-md-7">
                            <p style="text-align:left;">
                                
                                <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
                                    {{ if (eq .type "image") }}
                                    <a href="{{.graphic}}">
                                        <img class="img-responsive" src="{{ .graphic }}" alt="BaSyx Pillars">
                                    </a>
                                    {{ end }}

                                    {{ if (eq .type "video") }}
                                    <iframe src="{{.graphic}}" 
                                        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" 
                                        allowfullscreen="" 
                                        title="YouTube Video"
                                        onmouseover="() => {{ $currentSlide := .weight }}">
                                    </iframe>
                                    {{ end }}
                                    
                                </div>
                            </p>
                            
                        </div>

                        <div class="col-md-5">
                            <div class="block">
                                <p class="lead">
                                    {{ .description | safeHTML }}
                                </p>
                            </div>
                        </div>
                    </div>
                {{ end }}
            </div>
            <!-- /.project owl-slider -->
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
